.page-container{
    position: relative;
    min-width: 1200px;
    height: 100vh;
    font-family: PingFangSC-Regular;
    .container-wrapper{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
}

.menu-wrapper{
    background: #f7f7f7;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.data-wrapper{
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-bottom:66px; 
}
.tr-content{
    display: flex;
    justify-content: space-between;
}