<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Composition</title>
    </head>
    <body>

        <h1>{{.Name}}</h1>
        <h2>{{.Age}}</h2>
        
        <h3>{{.GetAge}}</h3>
        <h3>{{.AgeDouble}}</h3>
        <h3>{{.Age | .TakeArg}}</h3>
        <h3>{{.AgeDouble | .TakeArg}}</h3>

    </body>
</html>