"use strict";

module.exports = {
    SIZE: {
        BIG: 0,
        SMALL: 1,
        LIST: 2
    },
    SHOW_BUY_BTN: {
        HIDE: 0,
        SHOW: 1
    },
    SHOW_TITLE: {
        HIDE: 0,
        SHOW: 1
    },
    SHOW_DISCOUNT: {
        HIDE: 0,
        SHOW: 1
    },
    SHOW_ORIGIN_PRICE: {
        HIDE: 0,
        SHOW: 1
    },
    SHOW_COUNTDOWN: {
        HIDE: 0,
        SHOW: 1
    },
    SHOW_GROUP_NUMS: {
        HIDE: 0,
        SHOW: 1
    }
};