<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello world</title>
    </head>
    <body>
        {{$wisdom := .}}
        <h1>The meaning od life : {{$wisdom}}</h1>
    </body>
</html>