var getClsPrice = function(product) {
    if (product.isPlusPrice > 0) return "plus_price";
    if (product.isSamPrice > 0) return "sams_price";
    if (product.isExclusivePrice > 0) return "exclusive_price";
    if (product.isFansPrice > 0) return "fans_price";
    return "";
};

var getSummaryTexts = function(details) {
    var texts = [];
    details.forEach(function(item) {
        item.category !== "other" && texts.push(item.text);
    });
    return texts.join("、");
};

var getConnectLine = function(type) {
    var cls = "";
    if (type == 3 || type == 4) {
        cls = "item_connect";
    }
    return cls;
};

var getMinHeight = function(val) {
    var style = "";
    if (val) {
        style = "min-height: 224rpx;";
    }
    return style;
};

var getBeanPromoText = function(hasUseBean, beanPromo, num) {
    hasUseBean = hasUseBean == 0;
    return hasUseBean ? beanPromo.needJdBeanNum * num + "京豆可抵扣￥" + (beanPromo.discount / 100 * num).toFixed(2) + "元" : "已使用" + beanPromo.needJdBeanNum * num + "京豆抵扣￥" + (beanPromo.discount / 100 * num).toFixed(2) + "元";
};

var getGiftLabel = function(props) {
    if (!props) return "赠品";
    if (!props.glt || props.glt == 1) return "赠品";
    return props.gli;
};

module.exports = {
    getClsPrice: getClsPrice,
    getSummaryTexts: getSummaryTexts,
    getConnectLine: getConnectLine,
    getMinHeight: getMinHeight,
    getBeanPromoText: getBeanPromoText,
    getGiftLabel: getGiftLabel
};