var reg = getRegExp("\\u0005(.*?)\\u0006", "g");

module.exports = {
    isString: function(d) {
        return typeof d == "string";
    },
    convert: function(text) {
        var spliter = "_hlspliter_";
        var hightlights = [];
        var parts = [];
        var id = 1;
        var str = text.replace(reg, function(m, word) {
            hightlights.push({
                id: id++,
                w: word,
                hl: true
            });
            return spliter;
        });
        str.split(spliter).forEach(function(s) {
            parts.push({
                id: id++,
                w: s,
                hl: false
            });
            if (hightlights.length) {
                parts.push(hightlights.shift());
            }
        });
        parts = parts.reduce(function(result, item) {
            if (item.w) result.push(item);
            return result;
        }, []);
        return {
            raw: text,
            text: parts.map(function(item) {
                return item.w;
            }).join(""),
            parts: parts
        };
    }
};