@import '~antd/dist/antd.css';
@import './normalize.css';
html,body{
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
// @media (max-width: 960px) {
//   /*header*/
//   .header-container{
//     height: 42px;
//   }
//   /*下方数据和menu区域*/
//   .container-wrapper{
//     top:42px;
//   }
//   /*menu区域*/
//   .menu-wrapper{
//     width: 158px;
//   }
//   /*数据展示区域*/
//   .data-wrapper{
//     left: 158px;
//   }
//   .toolbar{
//     height: 60px;
//   }
// }
// @media (min-width: 960px) {
//   /*header*/
//   .header-container{
//     height: 42px;
//   }
//   /*下方数据和menu区域*/
//   .container-wrapper{
//     top:42px;
//   }
//   /*menu区域*/
//   .menu-wrapper{
//     width: 158px;
//   }
//   /*数据展示区域*/
//   .data-wrapper{
//     left: 158px;
//   }
//   .toolbar{
//     height: 60px;
//   }
// }
@media (min-width: 1200px) {
  .header-container{
    height: 50px;
  }
  .container-wrapper{
    top:50px;
  }
  .menu-wrapper{
    width: 185px;
  }
  .data-wrapper{
    left: 185px;
  }
  .toolbar{
    height: 75px;
  }
}
@media (max-width: 1200px) {
  .header-container{
    height: 50px;
  }
  .container-wrapper{
    top:50px;
  }
  .menu-wrapper{
    width: 185px;
  }
  .data-wrapper{
    left: 185px;
  }
  .toolbar{
    height: 75px;
  }
}
@media (min-width: 1660px) {
  .header-container{
    height: 58px;
  }
  .container-wrapper{
    top:58px;
  }
  .menu-wrapper{
    width: 220px;
  }
  .data-wrapper{
    left: 220px;
  }
  .toolbar{
    height: 90px;
  }
}

.cp{
  cursor: pointer;
}
.theme-color{
  color: #6198FC;
}
.tc{
  text-align: center;
}
.ml6{
  margin-left: 6px;
}
.mr6{
  margin-right: 6px;
}
.vb{
  vertical-align: baseline;
}
.ml4{
  margin-left: 4px;
}
.ml8{
  margin-left: 8px;
}
.mr12{
  margin-right: 12px;
}
.ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*自定义滚动条样式*/
::-webkit-scrollbar-thumb:horizontal { /*水平滚动条的样式*/
  width: 4px;
  background-color: #CCCCCC;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff; /*滚动条的背景颜色*/
  -webkit-border-radius: 0; /*滚动条的圆角宽度*/
}
::-webkit-scrollbar {
  width: 10px; /*滚动条的宽度*/
  height: 8px; /*滚动条的高度*/
}
::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
  height: 50px;
  background-color: #999;
  -webkit-border-radius: 4px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
  height: 50px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
}