body,
html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 100%;
  width: 100%;
}

li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c3e50;
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
}

.opacity {
  opacity: 0;
}

a,
article,
aside,
b,
button,
dd,
div,
dl,
dt,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
input,
li,
nav,
p,
section,
select,
span,
textarea,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;

  &:hover {
    outline: none;
  }
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
  border-radius: 10px;
  background-color: #F5F5F5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  zoom: 1;
}

.page {
  overflow-x: hidden;
  overflow-y: auto;
}

#cnzz_stat_icon_1271548596 {
  display: none;
}

.pc {
  width: 440px;
  position: relative;
  margin: 0 auto;
  background: #ffe4bd;
}

.pc .is-fixed {
  width: 440px;
  margin: 0 auto;
}

.pc .fixed {
  width: 440px;
  margin: 1rem auto 0.5rem auto !important;
}

.video-content {
  position: absolute;
  top: 58px;
  left:50%;
  transform: translate(-50%);
  overflow: hidden;
  height: calc(100vh - 188px);
  width: 92%;
  z-index: 2;

  video {
    width: 100%;
    height: 100%;
  }
}

.video-item-object {
  max-width: 100%;
  max-height: 100%;
  transform: rotate(-90deg) scale(1.7);
  transform-origin: center;
  object-fit: contain;
}

.data-tip-text {
  padding: 2rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: #aaa;
}
/** banner **/
.mint-swipe-item {
  border-radius: 10px;
}

.mint-swipe-indicators {
  bottom: 1rem !important;
}

.mint-swipe-indicator {
  opacity: 0.6 !important;
  background: #CCCCCC !important;
}

.mint-swipe-indicator.is-active {
  background-color: #FCEE35 !important;
}
/** 底部tab导航 **/
.mint-tabbar{
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  height: 3rem !important;
  line-height: 3rem !important;
  font-size: 1.2rem !important;
}
.mint-tabbar {
  background-image: url("/static/images/mint-tabbar.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.mint-tab-item{
  height:100%;
}
.mint-msgbox,
.mint-msgbox-btn {
  font-size: 1.4rem !important;
}

.mint-msgbox-btns {
  height: 4rem !important;
  line-height: 4rem !important;
}
/** 遮罩层透明度 **/
.v-modal {
  opacity: 0.8 !important;
}
/** 文本提示 **/
.user-important-tip {
  color: #FB5837;
  font-size: 1rem;
  margin: 2rem 1rem;
  font-weight: 600;
  text-align: center;
}
.user-invitcode{
  height: 100vh;
  padding-top:13rem;
  background-image: url(/static/images/inviteCode.png);
  background-size: contain; 
  background-repeat: no-repeat;
}
.user-invitcode-tip {
  margin: 1rem 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #333;
  text-align: left;
  font-weight: 400;
}

.user-invitcode-tip b {
  color: #FBE733;
  margin: 0 2px;
  font-weight: normal;
}

.invitcode-tip-padding {
  padding: 2rem 1rem;
  position: relative;
  color:#C3C3C3;
}
/** 表单 **/
.mint-cell {
  background-image: none;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 4px 0;
  flex: 1;

  .mint-field-core {
    padding: 1rem;
  }
}

.mint-cell-wrapper {
  background: none !important;
  background-image: none !important;
}

.mint-cell:first-child .mint-cell-wrapper {
  background: none !important;
  background-image: none !important;
}

.mint-cell:last-child {
  background-position: center;
}
/** 按钮大小 **/
.user-invitcode-button {
  margin: 4rem 0;
}

.button-size-small {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 10rem;
  padding: 0.6rem 0.4rem;
  font-size: 1.2rem;
}

.button-size-normal {
  min-width: 60%;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1rem auto;
}

.button-size-large {
  width: 90%;
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1rem auto;
}
/** 按钮类型 **/
.wawa-button-default {
  background-color: white;
  color: #FB522E;
  text-align: center;
  border: 0;
  outline: 0;
  font-weight: bold;
  border-radius: 10rem;
  box-shadow: 0 6px 2px #BF3620;
}

.wawa-button-primary {
  background-color: #FDC22D;
  color: white;
  text-align: center;
  border: 0;
  outline: 0;
  border-radius: 10rem;
  box-shadow: 0 5px 20px rgba(252, 238, 53, 0.64);
}

.wawa-button-danger {
  border: 0;
  outline: 0;
  border-radius: 10rem;
  background-color: #CD2927;
  color: white;
  text-align: center;
  box-shadow: 0 10px 20px #bd6e6d;
}

.disabled {
  background-color: #CECFD0;
  color: #666;
  box-shadow: none;
}
/** 邀请码  **/
.user-invitcode-input {
  margin: -2rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.input-item {
  font-weight: bold;
  background-color: #E7E7E7;
  border: 0;
  outline: 0;
  border-radius: 0;
  text-align: center;
  color: #FFF437;
  margin: 0 4px;
  font-size: 18px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  position: relative;
  text-transform: uppercase;
}
/** 弹出层 **/
.mint-popup {
  padding: 2rem 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold;
  color: #333;
  width: 84%;
  max-width: 20rem;
}

.user-popup-tip {
  color: #333;
}

.mint-popup .button-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1.6rem 0.5rem 0;
}

.mint-popup .button-area .button-item {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  text-align: center;
  border-radius: 10rem;
  padding: 0.6rem 0.4rem;
  border: 0;
  outline: 0;
  font-size: 1.2rem;
  box-shadow: none;
}

.mint-popup .button-area .button-item:not(:last-child) {
  margin-right: 0.8rem;
}

.mint-popup .button-area .button-cancel {
  background-color: #CECFD0;
}
