"use strict";

function forbidSubmitOrder(is_virtual, order_no, showDescResult, postageInfo, address, localDeliveryInfo, fetchUserName, fetchPhoneNumber, fetchAddress, fetchTime, hasPresale) {
    if (is_virtual) {
        return false;
    }
    if (order_no) {
        return false;
    }
    var cansub = showDescResult.forbidPay || postageInfo.selected.expressType != 1 && !address.user_name || postageInfo.selected.expressType == 1 && !(fetchUserName && fetchPhoneNumber && fetchAddress && fetchTime);
    return cansub;
}

function getSubmitBtnClass(isServiceDue, is_virtual, order_no, showDescResult, postageInfo, address, localDeliveryInfo, fetchUserName, fetchPhoneNumber, fetchAddress, fetchTime, hasPresale) {
    var isForbid = forbidSubmitOrder(is_virtual, order_no, showDescResult, postageInfo, address, localDeliveryInfo, fetchUserName, fetchPhoneNumber, fetchAddress, fetchTime, hasPresale);
    return isServiceDue || isForbid ? "disabled" : "";
}

module.exports = {
    forbidSubmitOrder: forbidSubmitOrder,
    getSubmitBtnClass: getSubmitBtnClass
};