<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>functions</title>
    </head>
    <body>
        {{if gt .Score1 .Score2}}
            Score1 > Score2
        {{end}}

        {{if lt .Score1 .Score2}}
            Score1 < Score2
        {{end}}

        {{if eq .Score1 .Score2}}
            Score1 = Score2
        {{end}}

        {{if lt .Score1 10}}
            last one: Score1 < 10
        {{end}}

        <!--
        
            eq
            Returns the boolean truth of arg1 == arg2

            ne
            Returns the boolean truth of arg1 != arg2

            lt
            Returns the boolean truth of arg1 < arg2

            le
            Returns the boolean truth of arg1 <= arg2

            gt
            Returns the boolean truth of arg1 > arg2

            ge
            Returns the boolean truth of arg1 >= arg2


            source:
            https://godoc.org/text/template#Functions
        -->
    </body>
</html>