module.exports = function(price, decimalPlaces) {
    var fPrice = parseFloat(price);
    if (isNaN(fPrice)) {
        return {
            whole: price,
            int: price,
            decimal: ""
        };
    }
    if (typeof decimalPlaces == "undefined") {
        decimalPlaces = 2;
    }
    var sPrice = fPrice.toFixed(decimalPlaces);
    var aPrice = sPrice.split(".");
    return {
        whole: sPrice,
        int: aPrice[0],
        decimal: aPrice[1] || ""
    };
};