<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello world</title>
    </head>
    <body>
        <ul>
            {{range .}}
            <li>{{.}}</li>
            {{end}}

            {{range $key,$value := .}}
            <li>{{$key}} - {{$value}}</li>
            {{end}}
        </ul>
    </body>
</html>