.dept-data-wrapper{
    padding-left: 16px;
    .toolbar{
        display: flex;
        justify-content: space-between;
        padding: 0 28px;
        .dept-name-count{
            display: flex;
            align-items: center;
            .icon-wrapper{
                margin-right: 9px;
            }
            .name{
                margin-bottom: 0;
            }
        }
        .operations{
            display: flex;
            align-items: center;
            .oper-wrapper{
                margin-right: 24px;
            }
            .search-wrapper{
                display: flex;
            }
        }
    }
    .datagrid-wrapper{
        height: auto;
        .role-tip{
            font-size: 12px;
            padding: 0 4px;
            display: inline-block;
            color: #8198FC;
            border: 1px solid #8198FC;
            border-radius: 2px;
        }
        .deptList{
            max-width: 180px;
        }
    }
    .pagenation-wrapper{
        position: absolute;
        bottom: 36px;
        left: 0;
        right: 0;
        text-align: center;
    }
}