"use strict";

var constants = require("p_./components/showcase/feature/components/goods/constants.wxs")();

var photo = require("p_./components/showcase/feature/components/goods/components/item/photo.wxs")();

var detail = require("p_./components/showcase/feature/components/goods/components/item/detail.wxs")();

function getItemContainerClass(layout, sizeType, buyButtonType, imageRatio) {
    var classStr = "";
    layout = (layout || 0).toString();
    sizeType = (sizeType || 0).toString();
    classStr += "sc-goods__item--" + constants.layoutClassHash[(nt_0 = layout, null == nt_0 ? undefined : "Number" === nt_0.constructor ? nt_0 : "" + nt_0)];
    classStr += " " + constants.sizeTypeClassHash[(nt_1 = sizeType, null == nt_1 ? undefined : "Number" === nt_1.constructor ? nt_1 : "" + nt_1)];
    classStr += " sc-goods__item--btn" + buyButtonType;
    layout = +layout;
    if (layout === 0 && typeof imageRatio === "number") {
        if (sizeType === "5") {
            imageRatio = 1;
        }
        imageRatio = imageRatio.toString();
        if (imageRatio) {
            classStr += " sc-goods__item--ratio-" + constants.imageRatioClass[(nt_2 = imageRatio, 
            null == nt_2 ? undefined : "Number" === nt_2.constructor ? nt_2 : "" + nt_2)];
        }
    }
    return classStr;
}

function getItemBuyButtonType(layout, sizeType, buyButtonType, buyBtnExpress) {
    if ((layout === 5 || layout === 6) && buyBtnExpress) return 2;
    return layout === 1 && sizeType === 3 ? 5 : buyButtonType;
}

function getItemImageMode(imageFillStyle) {
    imageFillStyle = imageFillStyle || 2;
    return +imageFillStyle === 2 ? "aspectFit" : "aspectFill";
}

module.exports = {
    getItemContainerClass: getItemContainerClass,
    getItemBuyButtonType: getItemBuyButtonType,
    getPhotoContainerClass: photo.getPhotoContainerClass,
    getImageStyle: photo.getImageStyle,
    getIsShowTitle: detail.getIsShowTitle,
    getIsShowSubTitle: detail.getIsShowSubTitle,
    getIsShowPrice: detail.getIsShowPrice,
    getIsShowBuyButton: detail.getIsShowBuyButton,
    getIsShowDetail: detail.getIsShowDetail,
    getDetailContainerClass: detail.getDetailContainerClass,
    getItemImageMode: getItemImageMode
};