"use strict";

function getPhotoContainerClass(goodsInfo) {
    var classStr = "";
    if (+goodsInfo.sold_status === 2 && +goodsInfo.buy_way !== 0) {
        classStr += " sc-goods__photo--soldout";
    }
    return classStr;
}

function getImageHeight(currentWidth, originWidth, originHeight) {
    var imageColumnHeight = Math.floor(originHeight * currentWidth / originWidth);
    return "height: " + imageColumnHeight + "px";
}

function getImageStyle(layout, sizeType, goodsInfo, goodsRectData, columnWidth, imageRatio, itemIndex) {
    var alias = goodsInfo.alias;
    if ((layout != 1 || sizeType != 1) && !(layout == 0 && typeof imageRatio !== "number") && !(layout === 2 && itemIndex % 3 === 0)) {
        return "";
    }
    if (goodsInfo.width && goodsInfo.height) {
        return getImageHeight(columnWidth, goodsInfo.width, goodsInfo.height);
    }
    goodsRectData = goodsRectData || {};
    if (goodsRectData[(nt_0 = alias, null == nt_0 ? undefined : "Number" === nt_0.constructor ? nt_0 : "" + nt_0)]) {
        var rectData = goodsRectData[(nt_1 = alias, null == nt_1 ? undefined : "Number" === nt_1.constructor ? nt_1 : "" + nt_1)];
        return getImageHeight(columnWidth, rectData.width, rectData.height);
    }
    return "";
}

module.exports = {
    getPhotoContainerClass: getPhotoContainerClass,
    getImageStyle: getImageStyle
};