"use strict";

function cent2yuan(value) {
    return Number(value / 100).toFixed(2);
}

function getPriceGap(startFee, allChoosedPrice) {
    return cent2yuan(startFee - allChoosedPrice);
}

function getCartIconClass(allChoosedNum, allChoosedPrice, startFee) {
    var className = "";
    if (allChoosedNum === 0 || allChoosedPrice < startFee) {
        className = "bottomcart__cart-icon--disabled";
    }
    return className;
}

module.exports = {
    getPriceGap: getPriceGap,
    cent2yuan: cent2yuan,
    getCartIconClass: getCartIconClass
};