<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello world</title>
    </head>
    <body>
        <ul>
            <li>{{.Name}} - {{.Motto}}</li>

            {{$x := .Name}}
            {{$y := .Motto}}
            <li>{{$x}} - {{$y}}</li>
        </ul>
    </body>
</html>